body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gainsboro;
}

/*Navigation bar styles*/
header, footer {
    padding: 20px;
    text-align: center;
}

header{
    background-color: #371c99;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
}
header h1 {
    margin: 0;
    flex: 1;
    margin-bottom: 17px;
}
nav{
    display: flex;
    justify-content: flex-end;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 17px;
}
nav a.active{
    color: rgb(255, 46, 88);
}
nav a:hover {
    background-color: white;
    color: rgb(255, 46, 88);
    text-decoration: none;
}

/*Section styles*/
section {
    padding: 2px 20px;
    margin-top: 20px;
}

/*About Me*/
#about h2{
    text-align: center;
    margin-bottom: 30px;
}
#about h2 span{
    color: crimson;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
#about img{
    width: 100%;
}
.item {
    width: 100%
}
.container1 > div {
    flex: 45%;
    margin-bottom: 10px;
}


/*Skills section*/
#skills{
    margin-top: 50px;
}
#skills h2{
    text-align: center;
    margin-bottom: 30px;
}
#skills-container{
    padding-top: 20px;
}
.progressOther{
    width: 70%;
    margin-top: 20px;
}


/*Projects section*/
#projects{
    margin-top: 50px;
}
#projects h2{
    text-align: center;
    margin-bottom: 20px;
}
#projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding-top: 20px;
}
#projects-container .card{
    width: 30%;
}


/*Experience Section*/
#experience{
    margin-top: 50px;
}
#experience h2{
    text-align: center;
    margin-bottom: 20px;
}
#experience-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding-top: 20px;
}
#experience .toast{
    width: 30%;
}


/*Contact Section*/
#contact{
    margin-top: 50px;
}
#contact h2{
    text-align: center;
}


/*Footer section*/
footer{
    background-color: #120446;
    color: white;
    margin-top: 80px;
}