body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gainsboro;
}

/*Navigation bar styles*/
header, footer {
    padding: 20px;
    text-align: center;
}

header{
    background-color: #371c99;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
}
header h1 {
    margin: 0;
    flex: 1;
}
nav{
    display: flex;
    justify-content: flex-end;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a.active{
    color: rgb(255, 46, 88);
}
nav a:hover {
    background-color: white;
    color: rgb(255, 46, 88);
}

/*Section styles*/
section {
    padding: 2px 20px;
    margin-top: 20px;
}

/*About Me*/
#about h2{
    text-align: center;
}
#about h2 span{
    color: crimson;
}
#about .container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
#about img{
    width: 100%;
}
.item {
    width: 100%
}
.container1 > div {
    flex: 45%;
    margin-bottom: 10px;
}


/*Skills section*/
#skills h2{
    text-align: center;
}


