<%- include('./_layouts/header') %>

<div class="content-wrap nb-visible" data-effect="nb-push">
    <!-- Display error messages -->
    <% if (successMessage.length > 0) { %>
        <% successMessage.forEach((data)=>{ %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 98%; margin: auto; margin-bottom: 10px;">
                <strong>Hello!</strong> <%= data %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% }) %>
    <% } %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="border-left: 2px solid rgb(0, 132, 255);">
                    <div class="card-body card-body2">
                        <div class="cIcon">
                            <a href="/admin/skills"><i class="fa fa-plus"
                                    style="color: rgb(0, 132, 255);"></i></a>
                        </div>
                        <h4 class="cHead">Add Skills</h4>
                        <div class="cNumber" style="color: rgb(194, 194, 194);"><i>click to add</i></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="border-left: 2px solid goldenrod">
                    <div class="card-body card-body2">
                        <div class="cIcon"><i class="fa fa-briefcase" style="color: goldenrod"></i></div>
                        <h4 class="cHead">Total Skills</h4>
                        <div class="cNumber">3</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="border-left: 2px solid crimson;">
                    <div class="card-body card-body2">
                        <div class="cIcon"><i class="fa fa-archive" style="color: crimson;"></i></div>
                        <h4 class="cHead">Total Projects</h4>
                        <div class="cNumber">2</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="width: 100%; margin-top: 40px;">
            <div class="tChart">
                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                <div class="card" style="width: 20rem; height: 90%; background: #2d6980; color: white; text-align: center; display: flex; justify-content: center; align-items: center;">
                    <div class="card-body card-body3">
                        <h5 class="card-title">User Information</h5>
                        <p class="card-text">
                            <ul style="list-style-type: none; text-align: left;">
                                <li>Full name: name</li>
                                <li>Email: example@gmail.com</li>
                                <li>Location: loc</li>
                                <li>LinkedIn: <a href="#">address</a></li>
                            </ul>
                        </p>
                        <a href="/admin/user_info" class="btn btn-primary">Go to page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var xValues = ["HTML", "CSS", "JAVASCRIPT", "MYSQL", "GRAPHICS DESIGN"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#e8c3b9",
    "#1e7145"
    ];

    new Chart("myChart", {
    type: "pie",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor: barColors,
        data: yValues
        }]
    },
    options: {
        title: {
        display: true,
        text: "Skillset"
        }
    }
    });
</script>


<%- include('./_layouts/footer') %>