<%- include('./_layouts/header') %>

<div class="content-wrap nb-visible" data-effect="nb-push">
    <!-- Display error messages -->
    <% if (successMessage.length > 0) { %>
        <% successMessage.forEach((data)=>{ %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 98%; margin: auto; margin-bottom: 10px;">
                <strong>Hello!</strong> <%= data %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% }) %>
    <% } %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="border-left: 2px solid rgb(0, 132, 255);">
                    <div class="card-body card-body2">
                        <div class="cIcon">
                            <a href="#" data-toggle="modal" data-target=".add"><i class="fa fa-plus"
                                    style="color: rgb(0, 132, 255);"></i></a>
                        </div>
                        <h4 class="cHead">Add Skills</h4>
                        <div class="cNumber" style="color: rgb(194, 194, 194);"><i>click to add</i></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="border-left: 2px solid goldenrod">
                    <div class="card-body card-body2">
                        <div class="cIcon"><i class="fa fa-video-camera" style="color: goldenrod"></i></div>
                        <h4 class="cHead">Total Skills</h4>
                        <div class="cNumber">3</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="width: 100%; margin-top: 40px;">
            <h4 style="margin-bottom: 20px;">Table 1.0 | Skills list</h4>
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Percentage</th>
                        <th scope="col">Date added</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>HTML</td>
                        <td>89%</td>
                        <td>2000-10-31T01:30:00.000-05:00</td>
                        <td><a href="#" data-toggle="modal" data-target=".update">Update</a></td>
                        <td><a href="#" data-toggle="modal" data-target=".delete">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--Modals-->
<div class="modal fade add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Skills</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/admin/add_skill" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                  <label for="skillname">Skill Type:</label>
                  <input type="text" class="form-control" name="skillname" id="skillname" placeholder="Enter Skillname" required>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                  <label for="percentage">Percentage:</label>
                  <input type="type" class="form-control" name="percentage" id="percentage" placeholder="Enter percentage" required>
                </div>
                <button type="submit" class="btn btn-primary btn-login">Add Skill</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<!--Update-->
<div class="modal fade update" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Skills</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/admin/update_skill" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="skillname">Skill Type:</label>
                    <input type="text" class="form-control" name="skillname" id="skillname" placeholder="Enter skillname" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
                  </div>
                  <div class="form-group">
                    <label for="percentage">Percentage:</label>
                    <input type="type" class="form-control" name="percentage" id="percentage" placeholder="Enter percentage" required>
                </div>
                <button type="submit" class="btn btn-primary btn-login">Update Skill</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<!--Delete-->
<div class="modal fade delete" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Skill</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/admin/delete_skill" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                  <label for="skillname">Skill Type:</label>
                  <input type="text" class="form-control" name="skillname" id="skillname" placeholder="Enter skillname" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
                </div>
                <button type="submit" class="btn btn-primary btn-login">Delete Skill</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<%- include('./_layouts/footer') %>