<%- include('./_layouts/header') %>

<div class="content-wrap nb-visible" data-effect="nb-push">
    <!-- Display error messages -->
    <% if (successMessage.length > 0) { %>
        <% successMessage.forEach((data)=>{ %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 98%; margin: auto; margin-bottom: 10px;">
                <strong>Hello!</strong> <%= data %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% }) %>
    <% } %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="border-left: 2px solid rgb(0, 132, 255);">
                    <div class="card-body card-body2">
                        <div class="cIcon">
                            <a href="#" data-toggle="modal" data-target="#add"><i class="fa fa-plus"
                                    style="color: rgb(0, 132, 255);"></i></a>
                        </div>
                        <h4 class="cHead">Add Testimonial</h4>
                        <div class="cNumber" style="color: rgb(194, 194, 194);"><i>click to add</i></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="border-left: 2px solid goldenrod">
                    <div class="card-body card-body2">
                        <div class="cIcon"><i class="fa fa-video-camera" style="color: goldenrod"></i></div>
                        <h4 class="cHead">All Testimonials</h4>
                        <div class="cNumber">3</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="width: 100%; margin-top: 40px;">
            <h4 style="margin-bottom: 20px;">Table 1.0 | Testimonials</h4>
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Date added</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>John Romans</td>
                        <td>(text)</td>
                        <td>2000-10-31T01:30:00.000-05:00</td>
                        <td><a href="#">Update</a></td>
                        <td><a href="#">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<%- include('./_layouts/footer') %>